.page_404{ 
  height: 100%;
  padding:50px 0; 
  background:rgb(255, 255, 255); 
  font-family: 'Arvo', serif;
}
.page_404  img{ width:100%;}
.page_404{
  margin-top: 40px;
}
.four_zero_four_bg{
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 480px;
background-position: center;
background-repeat: no-repeat;
 }
.four_zero_four_bg h1{
font-size:80px;
}
.four_zero_four_bg h3{
font-size:80px;
}
.link_404{			 
color: #fff!important;
padding: 10px 20px;
background-image: linear-gradient(60deg, rgb(209, 51, 230), rgb(106, 33, 223), rgb(9, 204, 204));
border-radius: 10%;
margin: 10px 0;
display: inline-block;}
.contant_box_404{ margin-top:-80px;}
.error{
  text-shadow: 1px 3px 3px rgb(0, 0, 0);

}